<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArtExplore"
        tools:targetApi="31">
        <activity
            android:name="com.example.artexplore.FavoriteActivity"
            android:exported="false" />
        <activity
            android:name="com.example.artexplore.ArtStylesDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.example.artexplore.ArtistDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.example.artexplore.ArtistsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.artexplore.MenuActivity"
            android:exported="false" />
        <activity
            android:name="com.example.artexplore.ArtDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.example.artexplore.ArtworksActivity"
            android:exported="false" />
        <activity
            android:name="com.example.artexplore.ArtStylesActivity"
            android:exported="false" />
        <activity
            android:name="com.example.artexplore.SignUpActivity"
            android:exported="false" />
        <activity
            android:name="com.example.artexplore.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>